# The third-party distribution and license are verified byte-for-byte.
vendor/pptxgenjs/pptxgen.es.js -text
vendor/pptxgenjs/LICENSE -text
vendor/jszip/index-min.js -text
vendor/jszip/LICENSE.md -text
